:root{
    --color-yellow:#FFBD54;
    --color-black:#333333;
    --color-light-blue:#78C0DE;
    --color-text:#949494;
    --color-white:#ffffff;
    --color-blue:#3D9CEA;
    --color-grey:#F9F8F8;
    --main-transition: 0.3s ease;
    --color-light-yellow:#F4FFAD;
    --bg-colors-grey:#f3f3f3;
    --second-text-color:#dbdbdb;
    --color-button-black:#000000;
}
@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Book.woff2') format('woff2'),
    url('../fonts/FuturaPT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Light.woff2') format('woff2'),
    url('../fonts/FuturaPT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
    url('../fonts/FuturaPT-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:'FuturaPT', "Arial",sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #f9f9f9;
    background-image: url(../img/bg.png);
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1350px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* SITE-HEAD */

.site-head{
    background-color: var(--color-grey);
}

.site-head__info{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-top: 10px;
    padding-bottom: 11px;
}

.site-head__address{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    margin-left: 216px;
}

.site-head__address::before{
    content: "";
    display: block;
    background-image: url(../img/home.svg);
    width: 14px;
    height: 13px;
    background-repeat: no-repeat;
    margin-right: 9px;
}

.site-head__list{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    position: relative;
}

.site-head__item{
    position: relative;
}

.site-head__tell{
    margin-left: 22px;
    text-decoration: none;
    color: var(--color-black);
    transition: var(--main-transition);
}

.site-head__tell:hover{
    color: var(--color-yellow);
}

.site-head__tell:active{
    opacity: 0.6;
}

.site-head__item:first-child::before{
    content: "";
    background-image: url(../img/tel.svg);
    width: 13px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 3px;
    top: 3px;
}

.site-head__item:not(:first-child) ::before{
    content: "\2022";  
    color: var(--color-yellow); 
    font-weight: bold; 
    display: inline-block; 
    width: 4px;
    height: 4px; 
    position: absolute;
    right: 120px ;
}

.date-wrapper{
    display: flex;
    align-items: center;
    
}

.date-wrapper::before{
    content: "";
    display: block;
    background-image: url(../img/date.svg);
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    background-position: left;
    margin-right: 9px;
}


/* SITE NAV */

.site-nav{
    background-color: var(--color-white);
    position: inherit;
}

.site-nav__logo{
    display: flex;   
}

.nav-logo__icon{
    position: absolute;
    z-index: 2;
    top: 30px;
    transition: var(--main-transition);
}

.nav-logo__icon:hover{
    opacity: 0.8;
}

.nav-logo__icon:active{
    opacity: 0.6;
}

.site-nav__wrapper{
    display: flex;
    justify-content: space-between;
}

.site-nav__list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 148px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-nav__item--active:before{
    content: "";
    background-image: url(../img/active.svg);
    width: 20px;
    height: 15px;
    display: block;
    margin-right: 5px;
}

.site-nav__item{
    display: flex;
}

.site-nav__item~.site-nav__item{
    margin-left: 55px;
}

.site-nav__link{
    display: block;
    color: var(--color-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease,
    opacity 0.3s ease;
    z-index: 5;
}

.site-nav__link::after{
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #f4ffad;
    opacity: 0;
    transition: var(--main-transition);
}

.site-nav__link:active{
    opacity: 0.4;
}

.site-nav__link:hover::after{
    opacity: 1;
}

.site-nav__question{
    padding-top: 21px;
    padding-bottom: 20px;
}

.nav-question__link{
    text-decoration: none;
    color: var(--color-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
}

.nav-question__link::before{
    content: "";
    background-image: url(../img/foot.svg);
    width: 25px;
    height: 25px;
    display: block;
    background-repeat: no-repeat;
    margin-right: 4px;
}



/* Section HERO */
.hero-section{
    background-color: var(--color-grey);
    background-image: url(../img/bg-hero-pets.png);
    background-repeat: no-repeat;
    background-size: 870px 835px;
    background-position:calc(50% - 467px) calc(0% - 182px);
    padding-top: 153px;
    padding-bottom: 238px;
}

.hero-section__content{
    width: 608px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 25px;
    position: relative;
}

.hero-section__content::after{
    content: "";
    background-image: url(../img/hero-bird.png);
    height: 530px;
    width: 350px;
    position: absolute;
    top: 155px;
    right: -200px;
    background-repeat: no-repeat;
}

.section-hero__header{
    margin: 0;
    font-size: 70px;
    line-height: 64px;
    color: var(--color-black);
    margin-bottom: 29px;
}

.section-hero__header span{
    color: var(--color-light-blue);
}

.section-hero__desc{
    margin: 0;
    color: var(--color-text);
    font-size: 16px;
    line-height: 21px;
    padding-right: 113px;
    margin-bottom: 38px;
}

.btn{
    text-decoration: none;
    color: var(--color-white); 
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    border-radius: 3px;
    transition: var(--main-transition);
    cursor: pointer;
}

.section-hero__btn{
    background-color: var(--color-black);   
    width: 181px;
    padding:15px 48px 16px 47px;
}

.section-hero__btn:hover{
    background: rgba(51, 51, 51, 0.8);
    border-radius: 3px;
}

.section-hero__btn:active{
    background: rgba(51, 51, 51, 0.6);
}


/* SECTION QUOTE */
.quote{
    padding-top: 116px;
    background-color: var(--color-grey);
    padding-bottom: 191px;
}

.quote__text{
    margin: 0;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    width: 753px;
    color: var(--color-text);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 43px;
    position:relative
}

.quote__text::before{
    content: "";
    background-image: url(../img/left“.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 50px;
    height: 42px;
    top: -40px;
    left: -90px;
}

.quote__text::after{
    content: "";
    background-image: url(../img/right“.svg);
    position: absolute;
    background-repeat: no-repeat;
    width: 50px;
    height: 42px;
    top: 75px;
    right: -90px;
}

.quote__line{
    width: 140px;
    color: var(--color-grey);
}

.quote__header{
    margin: 0;
    margin-top: 35px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-black);
    text-align: center;
}



/* SERVICES HEADER */
.services-container{
    padding-left: 80px;
    padding-right: 80px;
}

.services{
    padding-bottom: 235px;
}

.services__title{
    margin: 0;
    color:var(--color-black);
    text-align: center;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 80px;
}

.services__list{
    display: flex;
    list-style:none;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    margin-bottom: 14px;
}

.services__item{
    width: 193px;
    background-color: var(--color-white);
    padding: 30px 30px 28px 35px;
    text-align: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}

.services__item~.services__item{
    margin-left: 13px;
}

.services__link{
    text-decoration: none;
}

.services__desc{
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 21px;
    color: var(--color-black);
}

.services__item::before{
    padding: 30px 32px 42px 40px;
    margin-left: 20px;
}

.services__item:nth-child(1):before{
    content:"";
    background-image: url(../img/doctor.svg);
    display: block;
    background-repeat: no-repeat;
    padding: 30px 32px 42px 40px;
    margin-left: 40px;
}

.services__item:nth-child(2):before{
    content:"";
    background-image: url(../img/girl.svg);
    display: block;
    background-repeat: no-repeat;
}

.services__item:nth-child(3):before{
    content:"";
    background-image: url(../img/surgery.svg);
    display: block;
    background-repeat: no-repeat; 
}

.services__item:nth-child(4):before{
    content:"";
    background-image: url(../img/ill.svg);
    width: 54px;
    height: 77.45px;
    display: block;
    background-repeat: no-repeat; 
}

.services__item:nth-child(5):before{
    content:"";
    background-image: url(../img/veterinary.svg);
    display: block;
    background-repeat: no-repeat;
}

.services__item:nth-child(6):before{
    content:"";
    background-image: url(../img/oftalmology.svg);
    display: block;
    background-repeat: no-repeat;
}

.services-content{
    background-color: var(--color-white);
    display: flex;
    padding-bottom: 41px;
}
.services-content__photo{
    border-radius: 5px;
    margin-left: 8px;
    margin-top: 41px;
    margin-right: 28px;
}

.service-content__header{
    margin: 0;
    margin-top: 74px;
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: var(--color-black);
    margin-bottom: 18px;
}

.service-content__desc{
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-text);
}

.desc-top{
    margin-top: 9px;
    margin-bottom: 34px;
}

.btn--yellow{
    padding: 15px 36px 16px 63px;
    border-radius: 3px;
    background-color: var(--color-yellow);
    position: relative;
}

.service-content__btn{
    padding: 15px 36px 16px 63px;
}

.service-content__btn::before{
    content: "";
    background-image: url(../img/price.svg);
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 16px;
    left: 25px;
}

.service-black--btn{
    position:relative;
}

.service-black--btn::before{
    content: "";
    background-image: url(../img/document\ .svg);
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 16px;
    left: 25px;
}

.btn--yellow:hover{
    background: rgba(255, 189, 84, 0.8);
}

.btn--yellow:active{
    background: rgba(255, 189, 84, 0.6);
}

.service-black--btn{
    padding:15px 37px 14px 64px;
    background-color: var(--color-black);
    margin-left: 21px;
}

.service-black--btn:hover{
    
    background: rgba(51, 51, 51, 0.8);
}

.service-black--btn:active{
    background: rgba(51, 51, 51, 0.6);
}


/* Subscribing  Section*/

.subscribing{
    background-image: url(../img/subscribing-BG.png);
    padding-top: 90px;
    padding-left: 200px;
    padding-bottom: 88px;
    position: relative;
}

.subscribing__btn:hover{
    background: rgba(51, 51, 51, 0.8);
    
}

.subscribing__btn:active{
    background: rgba(51, 51, 51, 0.6);
}

.subscribing__header{
    margin: 0;
    font-size: 48px;
    line-height: 20px;
    color: var(--color-white);
    margin-bottom: 32px;
    position: relative;
}

.subscribing__header::after{
    content:"";
    background-image: url(../img/subscribing-dog.png);
    position: absolute;
    width: 613px;
    height: 481px;
    top: -225px;
    right: 46px;
}

.subscribing__btn{
    padding:15px 53px 14px 51px;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 3px;     
    border: none;
    align-items: center;
}

.subscribing__btn:hover{
    background: rgba(51, 51, 51, 0.8);
}

.subscribing__btn:active{
    background: rgba(51, 51, 51, 0.6)
}

.subscribing__input{
    width: 335px;
    padding-top: 18px;
    padding-bottom: 12px;
    padding-left: 22px;
    border:none;
    border-radius: 5px;
    padding-right: 50px; 
}


/* ROOLS SECTION */
.rools{
    padding-top: 216px;
    padding-bottom: 265px;
}

.rools__title{
    text-align: center;
    margin: 0;
    margin-bottom: 80px;
    font-size: 48px;
    line-height: 20px;
    color: var(--color-black);
}

/* MAP Section */
.map{
    background-image: url(../img/bg\ fish.png);
    background-size: contain;
    background-color: var(--color-black);
    background-repeat: no-repeat;
    background-position: calc(50% + 16px) calc(50% + 27px);
    position: relative;
    display: flex;
}

.map__inner{
    margin-left: -200px;
    width:462px; 
    height:655px;
} 

.map__form{
    width: 375px;
    display: flex;
    flex-direction: column;
    margin-left: 165px;
    margin-top: 62px;
}

.map__header{
    margin: 0;
    color:var(--color-white) ;
    font-size: 48px;
    line-height: 62px;
    margin-bottom: 14px;
}

.map__desc{
    color: var(--color-text);
    margin: 0;
    margin-bottom: 29px;
}

.name-input{
    margin-bottom: 14px;
    height: 50px;
    padding-left: 22px;
    padding-right: 22px;
}

.email-input{
    margin-bottom: 14px;
    height: 50px;
    padding-left: 22px;
    padding-right: 22px;
}

.textarea-input{
    margin-bottom:30px;
    color: var(--second-text-color);
    height: 50px;
    padding-left: 22px;
    padding-right: 22px;
    min-height:165px;;
    padding-top: 17px;
}

.map--btn{
    padding:15px 49px 14px 49px;
    background-color: var(--color-yellow);
    width: 226px;
}

.map--btn:hover{
    background: rgba(255, 189, 84, 0.8);
}

.map--btn:active{
    background: rgba(255, 189, 84, 0.6);
}

.map__container{
    display: flex;
}

/* SITE FOOTER */
.site-footer{
    margin-top: 247px;
    padding-top: 54px;
    padding-left: 65px;
    padding-bottom: 69px;
    background-color: var(--bg-colors-grey);
    position: relative;
}

.site-footer__wrapper{
    display: flex;
    justify-content: space-between;
}

.site-footer__list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-footer__list{
    margin-left: 67px;
}

.site-footer__list:last-child{
    margin-left: 87px;
    margin-right: 127px;
}

.site-footer__item{
    display: flex;
    
}
.site-footer__item~.site-footer__item{
    margin-top: 14px;
}

.site-footer__link{
    text-decoration: none;
    color: var(--color-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.footer-date{
    margin-top: 2px;
}

.footer-wrapper__items{
    margin-left: 0;
}

.date-wrapper__items{
    margin: 0;
}
.site-head__date--wrapper~.site-head__date--wrapper{
    margin-left: 17px;
}

.site-footer__address {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    width: 183px;
    margin-top: -50px;
}  

.site-footer__address::before{
    content: "";
    display: block;
    background-image: url(../img/home.svg);
    width: 29px;
    height: 13px;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-top: -20px;
}


.site-footer__right{
    display: flex;
    flex-direction: column;
    width: 129px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-footer__tell{
    position: relative;
}

.site-footer__tell~.site-footer__tell{
    margin-top: 4px;
}

.site-footer__num{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: var(--color-black);
}

.site-footer__num{
    margin-left: 22px;
    text-decoration: none;
    color: var(--color-black);
    transition: var(--main-transition);
}

.site-footer__num:hover{
    color: var(--color-yellow);
}

.site-footer_num:active{
    opacity: 0.6;
}

.site-footer__tell:first-child::before{
    content: "";
    background-image: url(../img/tel.svg);
    width: 13px;
    height: 13px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 3px;
    top: 3px;
}

.site-end{
    position: absolute;
    right: 30px;
}







/* OUR SERVICES */
.our-services__hero {
    padding-top: 118px;
    padding-bottom: 140px;
    background-image: url(../img/our-services__hero.png);
    background-repeat: no-repeat;
    background-position: right center;
}


.hero__content {
    width: 447px;
    margin-left :110px;
}

.hero__header {
    margin: 0;
    font-size: 70px;
    line-height: 64px;
    margin-bottom: 21px;
    color:var(--color-black)
}

.hero__desc {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-text);
}



/* Section CARDS */
.cards{
    padding-bottom: 169px;
}

.cards__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-radius: 5px 5px 0px 0px;
    flex-wrap: wrap;
    margin-left: -1px;
    margin-top: -34px;
}

.cards__item{
    width: 305px;
    background-color: var(--color-white);
    padding: 58px 22px 45px 54px;
    border-radius: 5px 5px 0px 0px;
    background-image: url(../img/footprint.svg);
    background-repeat: no-repeat;
    background-position: right top;
    margin-top: 34px;
    transition: 0.3s ease;
}

.cards__item:hover{
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards__item:not(:nth-child(4n)){
    margin-right: 30px;
}

.cards__title{
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 34px;
    color: var(--color-black);
    margin-bottom: 14px;
}

.cards__desc{
    margin: 0;
    margin-bottom: 26px;
    color: var(--color-text);
    font-size: 16px;
    line-height: 20px;
}

.our-services--btn{
    text-decoration: none;
    color: var(--color-white);
    background-color:var(--color-yellow) ;
    padding: 15px 29px 14px 30px;
    transition: var(--main-transition);
}

.our-services--btn:hover{
    background-color:var(--color-black);
}   

.our-services--btn:nth-child(odd) .cards__link{
    background-color: var(--color-light-blue);
}

.our-services--btn:nth-child(even) .cards__link{
    background-color: var(--color-yellow);
}

.btn--yellow{
    background-color: var(--color-yellow);
}

.cards__item::before{
    content: "";
    display: block;
    background-image: url(../img/doctor.svg);
    background-repeat: no-repeat;
    width: 86px;
    height: 78px;
    margin-bottom: 22px;   
}

.woman-card::before{
    background-image: url(../img/girl.svg);   
}

.surgery-card::before{
    background-image: url(../img/surgery.svg);    
}

.dog-card::before{
    background-image: url(../img/dog.svg); 
}

.labaratory-card::before{
    background-image: url(../img/veterinary.svg); 
}

.oftalmology-card::before{
    background-image: url(../img/oftalmology.svg); 
}

.uzi-card::before{
    background-image: url(../img/uzi.svg); 
}


/* FOOTER */

.our-services--footer{
    margin-top: 0;
}



/* MODAL ЗАДАТЬ ВОПРОС */

.modal-section{
    padding-top: 30px;
    padding-left: 200px;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255, 0.9);
    display: none; 
}

.modal-open{
    display: block;
}

.modal-close__button {
    position: absolute;
    background-image: url(../img/close-btn.svg);
    width: 25px;
    height: 18px;
    background-repeat: no-repeat;
    top: 20px;
    left: 20px;
    background-color: transparent;
    border:none;
    cursor: pointer;
}



.modal-section__wrapper{
    background-image: url(../img/modal-bg-photo.png);
    background-repeat: no-repeat;
    width: 850px;

    position: relative;
}

.modal-inner{
    padding: 0 71px 30px 71px;
    display: flex;
}

.modal-inner__socials{
    padding-top: 148px;
    display: flex;
    flex-direction: column;
}

.socials__header{
    color: var(--color-black);
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 21px;
}

.socials__links{
    width: 238px;
    margin: 0;
    text-decoration:  none;
    color: var(--color-black);
    padding: 11px 36px 15px 64px;
    white-space: nowrap;
    background-color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.socials__links~.socials__links{
    margin-top: 21px;
}

.facebook-link{
    padding: 11px 36px 15px 56px;
}


.modal-inner__form{
    margin-top: 119px;  
    margin-left: 133px;
    display: flex;
    flex-direction: column;
}

.modal-form__header{
    font-size: 50px;
    line-height: 54px;
    color: var(--color-black);
    margin: 0;
    white-space: nowrap;
    margin-bottom: 25px;
}

.modal-form__name{
    padding: 16px 22px 13px 22px;
    padding-left: 22px;
    margin-bottom: 21px;
}

.modal-form__textarea{
    padding: 17px 20px 127px 22px;
    resize: none;
    color: var(--color-text);
    margin-bottom: 27px;
}


.modal-form__button{
    width: 193px;
    padding: 14px 67px 15px 55px;
    background-color: var(--color-button-black);
    color: var(--color-white);
    border: none;
    border-radius: 0;
}

.modal-form__button:hover{
    background: rgba(51, 51, 51, 0.8);
}

.modal-form__button:active{
    background: rgba(51, 51, 51, 0.6);
}





/* FAQ SECTION */
.faq{
    padding-top: 118px;
    position: relative;
    padding-bottom: 270px;
}

.faq__hero{
    width: 447px;
    margin-left: 112px;
}

.faq__hero::after{
    content: "";
    background-image: url(../img/faq-bg-cat.png);
    width: 569px;
    height: 466px;
    position: absolute;
    top: 59px;
    right: -98px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-content__title{
    margin: 0;
    font-size: 70px;
line-height: 64px;
color: var(--color-black);
margin-bottom: 27px;
}

.hero-content__desc{
    margin: 0;
    color: var(--color-text);
    margin-bottom: 35px;
    font-size: 16px;
line-height: 20px;
}

.hero-content__link {
    width: 201px;
    padding: 14px 38px 14px 39px;
    background-color: var(--color-light-blue);
    display: flex;
    align-items: center;
    margin-bottom: 63px;
}

.hero-content__link::before{
    content: "";
    display: block;
    background-image: url(../img/document\ .svg);
    width: 21px;
height: 21px;
margin-right: 6px;
}

.hero-content__link:hover{
    background-color: var(--color-button-black);
}



/* FAQ LIST */
.faq__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 752px;
  }

  .faq__item {
    padding: 25px 40px 30px 60px;
    background-color: var(--color-white);
    border-radius: 5px;
  }

  .qa:nth-child(3n){
    opacity: 0.7;
  
  }
  .qa:nth-child(3n) .qa-question__toggler{
    background-image: url("../img/clock.svg");
  }
  
  
  .qa:nth-child(odd) .qa-top__date::before{
    background-image: url("../img/footprint-yellow-rotated.svg");
  }
  
  .qa:nth-child(even) .qa-top__date::before {
    background-image: url("../img/footprint-blur-rotated.svg");
  }

  
  .faq__item:not(:last-child){
    margin-bottom: 18px;
  }
  
  .qa{
    transition: var(--main-transition);
  }
  
  .qa--active .qa-answer__box{
    display: block;
  }
  
  .qa--active .qa-question__toggler{
    background-image: url("../img/arrow-up.svg");
  }
  
  .qa:not(.qa--active):hover{
    background-color: var(--bg-colors-grey);
  }
  
  .qa-top__box {
    display: flex;
    align-items: center;
  }
  
  .qa-top__date {
    display: flex;
    margin-right: 28px;
    color: var(--color-black);
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
  }
  
  .qa-top__date::before{
    content: '';
    display: block;
    width: 23px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  
  
  .qa-top__author {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-blue);
  }
  
  
  /* QA QUESTION PART */
  .qa-question__box {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    transition: opacity 0.3s ease;
  }
  
  
  .qa-question__text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: var(--color-black);
  }
  
  .qa-question__toggler {
    width: 21px;
    height: 21px;
    background-image: url("../img/arrow-down.svg");
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    background-position: center center;
    background-color: transparent;
  }
  
  
  .qa-question__toggler::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .qa-question__box:hover {
    opacity: 0.8;
  }
  
  .qa-answer__box {
    display: none;
    padding-top: 23px;
    padding-bottom: 50px;
  }
  
  .qa-answer__text {
    margin: 0;
  }
  
  